@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ======== ESTILOS GERAIS ======== */
:root {

    --federal-blue: #2e1863ff;
    --tekhelet: #582f82ff;
    --rust: #b84f26ff;
    --harvest-gold: #d39536ff;
    --silver: #bfc9cdff;
}

* {
    font-family: "Bebas Neue", Arial, sans-serif;
}

.sumamLogo {
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 80px;
}

.sumamLogo p {
    font-size: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    color: black;
    margin-bottom: 0px;
}

.sumamLogo img {
    height: 50px;
    width: 50px;
}

.titulo{
    display: flex;
}

body {
    background-color: #f7f8fa;
    color: #222;
    line-height: 1.6;
}

section {
    padding: 60px 10%;
    max-width: 1500px;
    margin: auto;
}


h1,
h2,
h3 {
    color: var(--harvest-gold);
    margin-bottom: 20px;

}

p {
    margin-bottom: 15px;
}

/* ======== HEADER ======== */
header {
    background: #21163b;
    color: white;
    text-align: center;
    padding: 30px 10% 10% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    color: #eee;
    border: solid 1px var(--silver);
    width: 100%;
    background-color: var(--silver);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagens::after {
    content: "";
    padding: 5px;
}

.imagens {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: flex-end;
    width: 100%;
}

.imagens figure {
    border: solid 1px var(--federal-blue);
    background-color: var(--federal-blue);
    height: 100%;
}

.EstadoAtual {
    flex-direction: column;
}

picture img {
    border: 3px solid var(--federal-blue);
    background-color: var(--silver);
}

img {
    width: 100%;
    height: 100%;
}

.sumamPessoas{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sumamPessoas > img{
    object-fit: cover;
    width: 300px;
}

header>h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header>p {
    font-size: 1.2em;
    margin-bottom: 25px;
}

header>a {
    background-image: linear-gradient(to right, #d39536 0%, #b84f26 51%, #d39536 100%);
    color: #eee;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    margin-bottom: 25px;

}

header a:hover {
    background-position: right center;
}

/* ======== SEÇÕES ======== */
.grid {
    display: grid;
    gap: 30px;
}

.two-columns {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: center;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table th,
.data-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.data-table th {
    background-color: #e5f1ff;
}

/* ======== FOOTER ======== */
footer {
    background-color: #21163b;
    color: white;
    text-align: center;
    padding: 40px 10%;
    margin-top: 50px;
}

footer p {
    margin: 5px 0;
}

ul {
    list-style: none;
}